<tr>
    <th>
        <strong>
            <a href="{{ url_for('task_bp.tasks_detail_get', username=task.creator, symbol=task.symbol, number=task.number)}}"> {{ task.symbol }}-{{ task.number }} </a>
        </strong>
    </th>
    <th title="{{ task.description }}">{{ task.description}}</th>
    <th>{{ task.status }}</th>
    <th>{{ task.creator }}</th>
    <th>{{ task.assignee }}</th>
    <th>{{ task.tags }}</th>
    <th>{{ task.comments }}</th>
    <th>{{ task.last_updated | format_epoch_timestamp_as_date }} </th>
</tr>
